body{
  background-color: lightblue;
}
header{
  color: maroon;
  display: flex;
  justify-content: space-between;
}

nav{ 
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;

}

a{
  text-decoration: none;
  color: maroon;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img{
  height: 250px;
  width: 250px;
  display: flex;
  border: 5px solid maroon;
}

p{
  border: 7px solid maroon;
  /* background-color: white; */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}